<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        a{
            color: blue;
        }
    </style>
</head>
<body>

<label>Organization hierarchy</label>
<br>
<span th:remove="tag"
      th:utext="${data}"></span>

</body>
<script
        src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
        crossorigin="anonymous">
</script>
<script>
    $(document).ready(function (){
        $('a').on('click', function (e){
            e.stopPropagation();
            $(this).closest('ul').find('ul').toggle();
            $(this).closest('ul').find('li').toggle();
        })
    });
</script>
</html>